 {% extends "base.html.twig" %}
 
 {% block title %}
     Bienvenue sur le meilleur réseau d'appartement
 {% endblock %}
 {% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur SymBNB!</h1>
        <p class="lead">Nous mettons en relation les voyageurs et les propiétaiters.</p>
        <hr class="my-4">
        <p>Vous cherchez un logement pour une nuit ou quelques jours? Ne cherchez plus ! Vous avez trouvez.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
        </p>
    </div>

    <h2>Nos appartements stars</h2>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>50&euro; / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>

                <img src="http://placehold.it/1000x400" alt"image de l'appartement"
                style="height: 200px; width: 100%; display: block">

                <div class="card-body">
                    <div class="card-title">
                        <h4 class="card-title">
                            Appartement de ouf !
                        </h4>
                        <p class="card-text">
                            Some quick example text to build on the card 
                            title and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir</a>
                    </div>
                </div>
            </div>
        </div>
           <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>50&euro; / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>

                <img src="http://placehold.it/1000x400" alt"image de l'appartement"
                style="height: 200px; width: 100%; display: block">

                <div class="card-body">
                    <div class="card-title">
                        <h4 class="card-title">
                            Appartement de ouf !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non voluptatem ipsam molestias tempora hic dolor cum cupiditate reprehenderit minus.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir</a>
                    </div>
                </div>
            </div>
        </div>
           <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>50&euro; / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>

                <img src="http://placehold.it/1000x400" alt"image de l'appartement"
                style="height: 200px; width: 100%; display: block">

                <div class="card-body">
                    <div class="card-title">
                        <h4 class="card-title">
                            Appartement de ouf !
                        </h4>
                        <p class="card-text">
                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nemo non eos sapiente officiis velit ex. Minus corrupti laudantium asperiores!
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>Nos propiétaiters stars</h2>

    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Monsieur inconnito</h4>

                    <hr>

                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Avatar de Fatou"
                        class="float-left mr-3">
                        <p> 
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium delectus provident unde cum possimus culpa omnis sapiente corrupti nam iure.
                        </p>
                         <a href="#" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
          <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Monsieur Inconnito</h4>

                    <hr>

                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Avatar de Fatou"
                        class="float-left mr-3">
                        <p> 
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita facilis pariatur quam nihil dicta alias eius enim velit, dolor accusamus.
                        </p>
                         <a href="#" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 {% endblock %}